* {
  font-family: 'Ubuntu';
}

body {
  margin: 0;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%, 50% ;
  }

  50% {
    background-position-x:  50%, 100% ;
  }

  100% {
    background-position-x: 100%, 50%;
  }

}

.cabecalho {
  animation: degrade-animado 3s  ;
  background-image: linear-gradient(to right, #f4f7f8,#eaf7fc, #d2f1fa, #dbf5ff, #44c8f0) ;
  background-size: 300% 300%;
  height: 100px;
}

.logo {
  display: inline-block;
  height: 190px;
  margin-top: -45px;
  margin-left: 50px;
}

.logo img{
  height: 100%;
}

.menu {
  display: inline-block;
  height: 80px;
  padding: 25px;
  float: right;
  align-items: center;
  
}


.menu li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3em;
  padding: 15px;
  transform: scale(1.05);
  transition: .6s;
}

.menu a:hover,
.menu a::selection {
  border-radius: 5px;
  background-color:rgb(255, 255, 255);
  color:rgb(18, 126, 168);
  
}


