* {
  font-family: 'Ubuntu';
}

body {
  margin: 0;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%, 50% ;
  }

  50% {
    background-position-x:  50%, 100% ;
  }

  100% {
    background-position-x: 100%, 50%;
  }

}

.cabecalho {
  animation: degrade-animado 3s  ;
  background-image: linear-gradient(to right, #f4f7f8,#eaf7fc, #d2f1fa, #dbf5ff, #44c8f0) ;
  background-size: 300% 300%;
  height: 100px;
}

.logo {
  display: inline-block;
  height: 190px;
  margin-top: -45px;
  margin-left: 50px;
}

.logo img{
  height: 100%;
}

.menu {
  display: inline-block;
  height: 80px;
  padding: 25px;
  float: right;
  align-items: center;
  
}


.menu li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3em;
  padding: 15px;
  transform: scale(1.05);
  transition: .6s;
}

.menu a:hover,
.menu a::selection {
  border-radius: 5px;
  background-color:rgb(255, 255, 255);
  color:rgb(18, 126, 168);
  
}
/*=======================Section========================*/
.container1 {
  display: flex;
  transition: background-color 1s ease ;
  margin-top: 100px;
}

.container1:hover{
  background-color: #8ED8EC;
}

.container2 {
  display: flex;
  margin-top: 100px;
  transition: background-color 1s ease ;
  height: 200px;
}

.container2:hover{
  background-color: #8ED8EC;
}

.container3 {
  display: flex;
  margin-top: 100px;
  transition: background-color 1s ease ;
}

.container3:hover{ 
  background-color: #8ED8EC;
}

.esquerdo1{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  height: 250px;
  width: 550px;
  font-family: 'ubuntu', sans-serif;    
  text-align: justify;
  font-size: 25px;
}
.direito1 {
  background-color: white;
  margin-left: 100px;
  width: 700px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.direito1 img {
  margin-left: 50px;
  height: 250px;
  width: 450px;
}

.esquerdo2{
  background-color: white;
  width: 500px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.esquerdo2 img{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 250px;
}


.direito2{
  height: 250px;
  width: 550px;
  border-radius: 20px;
  font-family: 'ubuntu', sans-serif;
  text-align: justify;
  font-size: 25px;
  margin-left: 200px;
  margin-top: -15px;
}

.esquerdo3{
  font-family: 'ubuntu', sans-serif;
  text-align: justify;
  font-size: 25px;
  height: 250px;
  width: 550px;
  border-radius: 20px;
  margin-left: 100px;
}

.direito3{
  margin-left: 100px;
  background-color: white;
  width: 700px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.direito3 img{
  margin-top: 40px;
  margin-left: 50px;
  width: 400px;
  height: 150px;
}

.produtos{
  margin-top: 100px;
  margin-left: 35px;
  display: flex;
}

.comandaDigital{
  margin-left: 200px;
}

.imagemComanda img{
  height: 250px;
  width: 350px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.motax{
  margin-left: 200px;
}

.imagemMotax img{
  height: 250px;
  width: 350px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.apresentacaoComanda{
  height: 120px;
  width: 350px;
  font-family: 'ubuntu', sans-serif;
  text-align: justify;
  margin-top: -17px;
  background-color: #8ed8ec;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.apresentacaoMotax{
  height: 120px;
  width: 350px;
  font-family: 'ubuntu', sans-serif;
  text-align: justify;
  margin-top: -17px;
  background-color: #8ed8ec;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*=======================Section========================*/


/* ===================== Footer ======================  */

footer{
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(to right, rgb(84, 207, 232), rgb(142, 216, 236));
  display: flex;
  justify-content: center;
  margin-top: 142px;
}
.empresa {
  width: 280px;
  min-height: 100px;
  padding: 20px;
  margin-left: -80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.empresa h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
.empresa ul li {
  margin: 25px 0px;
  list-style: none;
  margin-left: -33px;
  align-items: center;
  
}
.empresa ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  display: flex;
}
.servico{
  width: 280px;
  min-height: 100px;
  padding: 20px;
  margin-top: 0px;
  margin-left: -50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.servico h2{
  margin-bottom: 20px;
  font-size: 30px;
}
.servico ul li{
  margin: 25px 0px;
  list-style: none;
  margin-left: -33px;
  align-items: center;
}
.servico ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  display: flex;
  
}
.suporte{
  width: 150px;
  min-height: 100px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.suporte h2{
  margin-bottom: 20px;
  font-size: 30px;
}
.suporte ul li{
  margin: 25px 0px;
  list-style: none;
  margin-left: -33px;
  align-items: center;
  
}
.suporte ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  display: flex;
}
.log{
  display: flex;
  width: 250px;
  height: 150px;
  margin-left: 50px;
  position: relative;
  top: 100px;
  left: 0;
  border-radius: 10px;
}
.footer-link {
  padding: 0px 0px.0px;
  font-size: 25px;
  margin-left: 30px;
  left: 100px;
  position: relative;
  justify-content: center;
  top: 100px; 
  text-decoration: none 
}
 





                    
